---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About us</title>
  </head>
  <body>
    <Header />
    <h1>About Us</h1>
    <p>
      FinEdge is an exciting new company that specializes in cutting-edge
      financial technology. Our main focus is on improving how payments are made
      between different regions in the world. We strongly believe that where you
      are in the world shouldn't stop you from making smooth and easy
      transactions, whether you're an individual or a business. Our team is
      passionate about creating a world where geographic boundaries don't get in
      the way of financial interactions. We understand the frustrations that
      come with sending money across borders, dealing with long processing times
      and high fees. That's why we are determined to change the game and make
      cross-border payments seamless and hassle-free for everyone involved. With
      our innovative solutions, FinEdge is set to transform the way we handle
      international transactions, opening up new possibilities for individuals
      and businesses alike.
    </p>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
