---
import Header from "../components/Header.astro";
import "../styles/global.css";
const pageTitle = "FinEdge";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>
      Connecting Edges, For Building Bridges. One Action for all your Seamless
      Transcation!
    </h2>
    <p>
      FinEdge is an innovative fintech startup that aims to revolutionize
      cross-border payments. We envision a world where people and businesses can
      effortlessly conduct transactions without being hindered by geographical
      boundaries. By leveraging advanced technology, FinEdge is working towards
      transforming the way payments are made across borders, making it easier
      and more convenient for everyone involved.
    </p>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
