---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    Connecting Edges, For Building Bridges. One Action for all your Seamless
    Transcation!
  </h2>
</BaseLayout>
