---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Services</title>
  </head>
  <body>
    <Header />
    <h1>Services</h1>
    <h2>💸 Indivudual Money Transfers:</h2>
    <p>
      FinEdge enables individuals to transfer money seamlessly across borders.
      Our user-friendly platform allows users to send funds internationally with
      ease, eliminating the complexities and high fees typically associated with
      traditional methods. With competitive exchange rates and swift processing,
      FinEdge ensures that individuals can securely and conveniently transfer
      money to their loved ones or for personal needs, regardless of their
      location.
    </p>

    <h2>💳 Business Payments Solution:</h2>
    <p>
      FinEdge provides a comprehensive business payments solution, tailored to
      meet the unique needs of global enterprises. By leveraging our advanced
      technology, businesses can streamline our cross-border payment processes,
      reducing transaction costs and increasing efficiency. FinEdge offers
      customizable payment options, enabling businesses to make bulk transfers,
      pay international suppliers, or manage payroll for our global workforce
      effortlessly. With enhanced security measures and real-time tracking,
      businesses can have full control and visibility over our international
      payment transactions.
    </p>

    <h2>🧾 Real-Time Payment Tracking</h2>
    <p>
      FinEdge offers a robust real-time payment tracking feature, providing
      individuals and businesses with transparency and peace of mind. Through
      their intuitive interface, users can monitor the progress of their
      cross-border transactions, from initiation to completion. This service
      eliminates uncertainty and allows users to track their funds, ensuring
      timely delivery and minimizing any potential delays or issues. With
      FinEdge's real-time payment tracking, users can have confidence and
      control over their international money transfers.
    </p>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
